<!-- <footer class="footer" *ngIf="!hideFooter">
    <div class="footer-content">
      <div class="footer-section">
        <h3>About Us</h3>
        <p>Welcome to movies tv, where the art of storytelling meets the magic of cinema. As a trailblazer in the film industry, we pride ourselves on bringing compelling narratives to life, enchanting audiences with unforgettable cinematic experiences..</p>
      </div>
      <div class="footer-section">
        <h3>Contact</h3>
        <p>Email => youssef.alaa&#64;gmail.com</p>
        <p>Phone => +20 102 702 9952</p>
      </div>
      <div class="footer-section">
        <h3>Follow Us</h3>
        <div class="social-icons">
            <a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fab fa-youtube" aria-hidden="true"></i></a>
            <a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 Movies TV. All Rights Reserved.</p>
    </div>
  </footer> -->
  