<div class="custom-container h-100">
  <div class="w-100">
    <div class="form">
      <form [formGroup]="registerForm" (ngSubmit)='onSubmit()'>
        <div class="info mb-4">
          <span class="title">Register Now</span>
          <p class="description mt-3">Enter Your Info For Registration Here</p>
        </div>
        <div class="input-fields">
          <div class="form-group p-2">
          
            <label for="firstname" class="mb-2">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstname"
              placeholder="First Name"
              formControlName="firstName"
            />
            <div *ngIf="registerForm.controls['firstName']?.invalid&& registerForm.controls['firstName']?.touched" class="text-danger mt-3" >
              <p *ngIf="registerForm.get('firstName')?.hasError('required')">First Name is required</p>
              <p *ngIf="registerForm.get('firstName')?.hasError('maxlength')">First Name must be at most 20 characters</p>
            </div>
                      </div>
          <div class="form-group p-2">
            <label for="lastname" class="mb-2">Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              id="lastname"
              placeholder="Last Name"
            />
            <div class="text-danger mt-3" *ngIf="registerForm.controls['lastName']?.invalid&& registerForm.controls['lastName']?.touched" >
              <p *ngIf="registerForm.get('lastName')?.hasError('required')">Last Name is required</p>
              <p *ngIf="registerForm.get('lastName')?.hasError('maxlength')">Last Name must be at most 20 characters</p>
              
            </div>
          </div>
          <div class="form-group p-2">
            <label for="email" class="mb-2">E-mail</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="Email"
            />
            <div class="text-danger mt-3" *ngIf="registerForm.controls['email']?.invalid&& registerForm.controls['email']?.touched" >
              <p *ngIf="registerForm.get('email')?.hasError('required')">Email is required</p>
              <p *ngIf="registerForm.get('email')?.hasError('email')">Invalid email format</p>
                          </div>
          </div>
          <div class="form-group p-2">
            <label for="pass" class="mb-2">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="pass"
              placeholder="Password"
            />
            <div class="text-danger mt-3" *ngIf="registerForm.controls['password']?.invalid&& registerForm.controls['password']?.touched">
              <p *ngIf="registerForm.get('password')?.hasError('required')">Password is required</p>
              <p *ngIf="registerForm.get('password')?.hasError('pattern')">
                Password must follow the specified pattern: 
                At least 8 characters with at least <br/> - one special character <br/> - one letter (uppercase or lowercase) <br/> - one digit
              </p>              
            </div>
          </div>
        </div>
        <div class="action-btns mt-3 responsiv">
          <button type="button" class="btn btn-outline-light responsiv" type="submit" [disabled]="registerForm.invalid" >Sign Up</button>
          <a routerLink="/login" class="verify responsiv">Have An Account?</a>
        </div>
      </form>


    </div>
  </div>
</div>
