<nav class="navbar navbar-expand-lg navbar-light bg-transparent mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="show/movies">Trending Movies</a>
    <button
      class="navbar-toggler bg-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-hover"
            routerLink="show/movies"
            *ngIf="isLogin"
            >Movies</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLogin" routerLink="show/top-movies"
            >Top Movies</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLogin" routerLink="show/top-tv">Top TV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLogin" routerLink="auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLogin" routerLink="auth/register"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            style="cursor: pointer"
            *ngIf="isLogin"
            (click)="logout()"
            >LogOut</a
          >
        </li>

      </ul>
      <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="searchDone()">
        <input
          class="form-control me-2"
          type="search"
          formControlName="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
