
.custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav {
    display: flex;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a ,li {
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 4px;
  }
  active-hover {
    color: antiquewhite;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }
  
    nav {
      margin-top: 10px;
      order: 1;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
  