<div class="custom-container h-100">
    <div class="w-100">
      <div class="form">
        <form class="form">
          <div class="info mb-4">
            <span class="title">Login Now</span>
            <p class="description mt-3">Enter Your Info For Login Now</p>
          </div>
          <div class="input-fields">
            <div class="form-group p-2">
              <label for="email" class="mb-2">E-mail</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Email"
              />
            </div>
            <div class="form-group p-2">
              <label for="pass" class="mb-2">Password</label>
              <input
                type="password"
                class="form-control"
                name="pass"
                id="pass"
                placeholder="Password"
              />
            </div>

          </div>
          <div class="action-btns mt-5 responsiv">
            <a class="btn btn-outline-light responsiv">Login</a>
            <a routerLink="/register" class="verify responsiv">Create an account ?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  