.movie-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .movie-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .movie-date {
    font-size: 0.9rem;
    color: #aaa;
  }
  .checked {
    color: gold;
  }
  

  .cursor{
    cursor: pointer;
  }