<div class="custom-container">

    <div class="w-75" >
  <div class="form">
    <form class="form">
      <div class="info mb-4">
        <span class="title">Register Now</span>
        <p class="description mt-3">
          Enter Your Info For Registration Here
        </p>
      </div>
      <div class="input-fields ">
        <div class="form-group p-2">
          <label for="firstname" class="mb-2">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstname"
            id="firstname"
            placeholder="First Name"
          />
        </div>
        <div class="form-group  p-2">
          <label for="lastname " class="mb-2">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastname"
            id="lastname"
            placeholder="Last Name"
          />
        </div>
        <div class="form-group  p-2">
          <label for="email" class="mb-2">E-mail</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Email"
          />
        </div>
        <div class="form-group p-2">
          <label for="pass" class="mb-2">Password</label>
          <input
            type="password"
            class="form-control"
            name="pass"
            id="pass"
            placeholder="Password"
          />
        </div>
        <div class="form-group p-2">
          <label for="confpass" class="mb-2">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            name="confpass"
            id="confpass"
            placeholder="Confirm Password"
          />
        </div>
      </div>

      <div class="action-btns m-5">
        <a class="btn btn-outline-light">Sign Up</a>
        <a routerLink="/login" class="verify">Have An Account ? </a>
      </div>
    </form>
</div>
</div>
</div>